nodered/flows.json
[{"id":"fbdd7ee.525d18","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d94ae6f5.63aa28","type":"ui_form","z":"fbdd7ee.525d18","name":"","label":"","group":"632181b9.ed063","order":2,"width":10,"height":2,"options":[{"label":"Enter the query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":480,"wires":[["7bac6af9.45ec44"]]},{"id":"7bac6af9.45ec44","type":"function","z":"fbdd7ee.525d18","name":"input","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":420,"wires":[["744650fd.7fbdf","1378ba8f.56e305"]]},{"id":"d9177ef8.0a2fa","type":"function","z":"fbdd7ee.525d18","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;\n\n","outputs":1,"noerr":0,"x":690,"y":320,"wires":[["82d71c41.55db2","88eb4ba6.cd1e58"]]},{"id":"82d71c41.55db2","type":"debug","z":"fbdd7ee.525d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":180,"wires":[]},{"id":"88eb4ba6.cd1e58","type":"ui_text","z":"fbdd7ee.525d18","group":"7d528e24.2089b","order":1,"width":12,"height":7,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":830,"y":540,"wires":[]},{"id":"744650fd.7fbdf","type":"watson-conversation-v1","z":"fbdd7ee.525d18","name":"Customer Assistant","workspaceid":"07ce6f93-4953-4539-9620-b19744f4bc71","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e0409f0f-72ea-4b04-b8cb-80ee1ac19efd","timeout":"","optout-learning":false,"x":470,"y":320,"wires":[["d9177ef8.0a2fa"]]},{"id":"200bedba.2d0562","type":"inject","z":"fbdd7ee.525d18","name":"","topic":"","payload":"hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":200,"wires":[["744650fd.7fbdf"]]},{"id":"1378ba8f.56e305","type":"ui_text","z":"fbdd7ee.525d18","group":"632181b9.ed063","order":6,"width":6,"height":2,"name":"","label":"You :","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":540,"wires":[]},{"id":"632181b9.ed063","type":"ui_group","z":"","name":"Input","tab":"de864382.0c003","order":1,"disp":true,"width":10,"collapse":false},{"id":"7d528e24.2089b","type":"ui_group","z":"","name":"Output","tab":"de864382.0c003","order":2,"disp":true,"width":"12","collapse":false},{"id":"de864382.0c003","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]